streamlit
unstructured[all-docs]
langchain 
pydantic 
lxml
langchain-google-genai
google.generativeai
chromadb==0.4.15
pysqlite3-binary
google-generativeai
langsmith 
langchainhub
openai 
tiktoken 
opencv-python
tensorflow-probability
imageio 
pillow
ipython





